body{
    background:  #2b5269;
    background-size: cover;	
    font-family: Arial, Helvetica, sans-serif;
}

a.menulink { 

text-decoration: none; 
display: block;
width: 150px;
height: 50px;
padding-top: 15px;
}
a.menulink:link { color: white; }
a.menulink:visited { color: white; }
a.menulink:hover { color: white; }
a.menulink:active { color: white; }
a.posts {
	color: #005f95;
}
.container
{
	margin: 0 auto;
	background: #e6f4ff;
	width: 1200px;
	min-height: 500px;
}
p.news {
	font-size: 20px;
}
.menu
{
	list-style-type: none;
	background: #3594CB;
	padding: 0;
	margin: 0;
	text-align: center;
}

.logo
{
	display: block;
	width: 1200px;
	height: 250px;
	
}

.menu li
{
	display: inline-block;
	font-size: 28px;
	margin: 0 30px;
}

.menu li:hover
{
	background: #6a3a36;
}

.stopka
{
	background: #3594CB;
	padding: 20px;
	color: white;
}

article
{
	display: inline-block;
	width: 860px;
	vertical-align: top;
	padding: 0 20px;
}

.rekl
{
	width: 256px;
	padding: 0 20px;
	text-align: justify;
	float: right;
}
.dlan{
	width: 379px;
	height: 333px;
	background-color: blue;
	float: left;
	margin-left: 25px;
}
.space{
	width: 50px;
	height: 1px;
	float: left;
}
.dlau{
	width: 379px;
	height: 333px;
	background-color: blue;
	float: left;
	margin-left: 10px;
}
.dlan img{
	transition: all 0.2s ease-in-out;
}
.dlan:hover img
{
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
	box-shadow: 0px 0px 30px 7px #41b2d0;
}
.dlau img{
	transition: all 0.2s ease-in-out;
}
.dlau:hover img
{
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
	box-shadow: 0px 0px 30px 7px #41b2d0;
}
header{
	text-align: center;
}
h1{	
	margin-bottom:40px;
	font-size: 35px;
}
.flagi {
	margin-top: 430px;
	font-size: 80px;
	text-align: center;	
}
a.strona {
	color: white;
	text-decoration: none;
	float: right;
}
ol
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 18px;
	height: 35px;
	line-height: 200%;
	display: inline-block;
}

ol a
{
	color: #ffffff;
	text-decoration: none;
	display: block;
}

ol > li
{
	float: left;
	width: 150px;
	height: 40px;
	border-right: 1px dashed #0c5985;
}

ol > li:first-child
{
	border-left: 1px dashed #0c5985;
}

ol > li:hover
{
	background-color: #2c82b4;
	color: white;
}

ol > li:hover > a
{
	color: white;
}

ol > li > ul
{
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 40px;
	display: none;
}

ol > li:hover > ul
{
	display: block;
}

ol > li > ul > li
{
	background-color:#3594CB;
	position: relative;
	z-index: 100;
	border-top: 1px dashed #3594CB;
}

ol > li > ul > li:hover
{
	color: white;
	background-color: #2c82b4;
}

ol > li > ul > li:hover > a
{
	color: #4ebaf8;
}
.sticky
{
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
}
.nav
{ 
	width: 100%;
	padding: 10px 0;
	background-color: #3594CB;
	text-align: center;
	border-top: 1px solid #1276af;
	border-bottom: 1px solid #1276af;
}
